streamlit==1.20.0  # Ensure compatibility with Streamlit Cloud
pandas==1.5.2
numpy==1.24.4
matplotlib==3.8.0
scikit-learn==1.3.1
Pillow==9.5.0
diffusers==0.23.0  # Compatible with huggingface-hub
accelerate==0.23.0
ftfy==6.1.1
syft==0.7.0 
seaborn==0.13.0
huggingface-hub==0.17.0  # Downgrade to ensure compatibility with tokenizers

