streamlit
pandas
numpy
matplotlib
scikit-learn
Pillow  # Let Streamlit choose the right version by removing the pinning
diffusers
transformers==4.34.0  # Specific version if needed
accelerate
ftfy
syft==0.8.2  # Specific version if needed
seaborn
